.contact {
    position: relative;
}

.contact .copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact .footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-image: -webkit-linear-gradient(#000, #000);
	text-align: center;
}

.contact .footer .note {
	color: #f9f2f2;
	margin-top: 25px;
	font-size: 14px;
}

.contact .footer .note a {
	color: #fbc659;
}

.contact .content {
	text-align: center;
}

.contact p {
	font-size: 43px;
    line-height: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #00aabb;
    padding-bottom: 8px;
    height: 60px;
}

.contact .btn:focus {
	outline: none;
}