.contact {
    position: relative;
}

.contact .content {
	text-align: center;
	margin-top: 5%;
	padding-bottom: 100px;
}

.contact .content label {
  font-size: 43px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #00aabb;
  padding-bottom: 8px;
}

.contact .content .btn:focus {
	outline: none;
	border-radius: 0;
}

.contact .content .row div {
	float: none;
    margin: auto;
}

.contact .footer {
	position: absolute;
	bottom: 0;
	height: 80px;
	background-image: -webkit-linear-gradient(#000, #000);
	text-align: center;
	margin: 0 -15px;
}

.contact .footer .copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact .footer .note {
	color: #f9f2f2;
	margin-top: 25px;
	font-size: 14px;
}

.contact .footer .note a {
	color: #fbc659;
}

