<slide-title title="Contact"></slide-title>
<div class="content">
	<div class="row">
		<div class="col-xs-8">
			<label>Let's build software that solve business problems, increase revenue, and reduce costs.</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-lg btn-success">Hire Me Now</button>
		</div>
	</div>
</div>
<br />
<!-- <footer class="footer">
	<div class="note">
		<div>A project by <a href="#">Richard Dimalanta</a></div>
		<div>Copyright © 2017</div>
	</div>
</footer> -->