<slide-title title="Contact"></slide-title>
<div class="content">
	<div class="row">
		<div class="col-xs-8">
			<label>Let's build software that solves business problems, increase revenue, and reduce costs.</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-lg btn-success" ng-click="$ctrl.sendMail();">Contact Me</button>
		</div>
	</div>
</div>
<footer class="footer navbar-fixed-bottom">
	<div class="note">
		<div>Handcrafted by <a href="#">Richard Dimalanta</a></div>
		<div>Copyright © 2017</div>
	</div>
</footer>