.contact {
    position: relative;
}

.contact .content {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 130px;
}

.contact .content label {
  font-size: 3em;
  letter-spacing: 3px;
  font-weight: bold;
  color: #00aabb;
  padding-bottom: 8px;
}

.contact .content .btn:focus {
	outline: none;
	border-radius: 0;
}

.contact .content .btn-lg {
	border-radius: 0;
}

.contact .content .row div {
	float: none;
  margin: auto;
}

@media only screen and (max-width: 767px) {
    .contact .content .row div {
      text-align: center;
      width: 100%;
    }

    .contact .content label {
        font-size: 2.7em;
    }
}

@media only screen and (min-width: 768px) {
    .contact .content .row div {
      float: none;
      margin: 0 auto;
    }

    .contact .content label {
        font-size: 2.9em;
    }
}

@media only screen and (min-width: 1383px) {
    .contact .content label {
        font-size: 3.5em;
        line-height: 80px;
    }
}

