.about {
    position: relative;
}


.about .content {
    text-align: center;
    margin-top: 5%;
}

.about .content label {
  font-size: 3em;
  letter-spacing: 3px;
  font-weight: bold;
  color: #00aabb;
  padding-bottom: 8px;
}

.about .content .btn:focus {
	outline: none;
	border-radius: 0;
}

.about #particles-js {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}


@media only screen and (max-width: 767px) {
    .about .content .row div {
      text-align: center;
      width: 100%;
    }

    .about .content label {
        font-size: 2.7em;
    }
}

@media only screen and (min-width: 768px) {
    .about .content .row div {
      float: none;
      margin: 0 auto;
    }

    .about .content label {
        font-size: 3.2em;
    }
}

@media only screen and (min-width: 1383px) {
    .about .content label {
        font-size: 3.5em;
        line-height: 80px;
    }
}



