.slideTitle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slideTitle .pageLabel {
    font-size: 3em;
    line-height: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #2A3A3F;
    height: 60px;
    background-size: calc(100% + 7px) 12px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(#fbc659, #fbc659);
    background-image: linear-gradient(#fbc659, #fbc659);
}

@media only screen and (min-width: 1383px) {
    .slideTitle .pageLabel  {
        font-size: 3.3em;
    }
}