<div class="navbar navbar-inverse navbar-fixed-top">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="menu">
                <li data-menuanchor="home"><a href="javascript:void(0)" class="smoothScroll">Home</a></li>
                <li data-menuanchor="skills"> <a href="javascript:void(0)" class="smoothScroll">Web Toolkit</a></li>
                <li data-menuanchor="experience"><a href="javascript:void(0)" class="smoothScroll">Experience</a></li>
                <li data-menuanchor="location"><a href="javascript:void(0)" class="smoothScroll">Location</a></li>
                <li data-menuanchor="contact"><a href="javascript:void(0)" class="smoothScroll">Contact Me</a></li>
            </ul>
        </div>
    </div>
</div>
