.badgeComponent .bouncing-badge {
     position: fixed;
    -webkit-perspective: 1000;
    z-index:1;
    bottom: 5%;
    right: 50px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    -moz-animation: bounce 2s infinite ease-in-out;
    width: 200px;
    text-align: right;
    cursor: pointer;
}

.badgeComponent .speech-bubble {
    position: relative;
    background: #00aabb;
    text-align: center;
    color: white;
    text-shadow: 0 -0.05em 0.1em rgba(0, 0, 0, .3);
    height: 116px;
    margin-bottom: 20px;
}

.badgeComponent .speech-bubble h4 {
    text-align: center;
    position: absolute;
    margin: 0px 10px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
}

.badgeComponent .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 47%;
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-right: 0;
    margin-bottom: -22px;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
}

@media only screen and (max-width: 767px) {
    
    .badgeComponent .bouncing-badge {
        display: none !important;
    }
}