.shellContainer {
    font-family: monaco, monospace;
    font-size: 12pt;
}

#shell {
    width: 100%;
    height: 75%;
    background: #000;
    border-radius: 8px;
    margin: 0 auto;
    color: #383838;
    position: absolute;
    cursor: text;
}

#upper {
    background: #e5e5e5;
    background: -webkit-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
    background: linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
    background-image: -moz-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    height: 29px;
    text-align: center;
    padding-top: 5px;
    border-bottom: 2px solid #333;
}

#enter {
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.title {
    margin-left: -70px;
}

.button {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 3px 3px 3px 3px;
    float: left;
}

.red {
    background: #f04341;
    border: 1px solid darken(#f04341, 10%);
}

.yellow {
    background: #f5b868;
    border: 1px solid darken(#f5b868, 10%);
}

.green {
    background: #96cf7d;
    border: 1px solid darken(#96cf7d, 10%);
}

#main {
    padding: 5px;
    color: #c0c7c7;
}

#main .fore {
    color: #ff6c6b;
}

#main .accent {
    color: #00b5c3;
}

#main .command:focus {
    outline: 0px solid transparent;
}

#main .commandContainer {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: 89%;
    width: 99%;
}

.command {
    display: none;
}

.command .highlight {
    color: #00aabb;
}

.command > div span {
    width: 10px;
    display: inline-block;
}

.inner-light-top {
    position: relative;
    z-index: 2;
    margin: 0px 3px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .5);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
}

.inner-light-bottom {
    margin: -1px 3px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
}

.inner-dark-top {
    top: -10px;
    height: 8px;
    width: 10px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}

.red .inner-dark-top {
    background: darken(rgba(#f04341, .4), 10%);
    margin: -5px 0px;
}

.yellow .inner-dark-top {
    background: darken(rgba(#f5b868, .4), 10%);
    margin: 3px 0px;
}

.green .inner-dark-top {
    background: darken(rgba(#96cf7d, .4), 10%);
    margin: 3px 0px;
}
