.shellContainer {
    font-family: monaco, monospace;
    font-size: 12pt;
}

#shell {
    width: 100%;
    height: 75%;
    background: #000;
    border-radius: 8px;
    margin: 0 auto;
    color: #383838;
    position: absolute;
    cursor: text;
}

#upper {
    background: #e5e5e5;
    background: -webkit-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
    background: linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
    background-image: -moz-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    height: 29px;
    text-align: center;
    padding-top: 5px;
    border-bottom: 2px solid #333;
}

#enter {
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.title {
    margin-left: -70px;
}

.button {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 3px 3px 3px 3px;
    float: left;
}

#buttons {
    margin-left: 5px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.tortoise {
    color: #0ab;
}

#main {
    padding: 5px;
    color: #c0c7c7;
}

#main .fore {
    color: #f9ed89;
}

#main .accent {
    color: #00b5c3;
}

#main .commandContainer {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: 89%;
    width: 99%;
    cursor: pointer;
}

.commandContainer .type {
    color: #15f17b;
    margin-right: 5%;
}

.command {
    display: none;
}

.command .highlight {
    color: #00aabb;
}

.command .select {
    color: #15f17b;
}

.command > div span {
    width: 15px;
    display: inline-block;
    font-weight: bold;
}

.loading {
    display: none;
}
