.location {
    position: relative;
}

.location #map {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: 10;

}

.location a[title='Interactive JavaScript maps'] {
    display: none !important;
}

.location .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

@media only screen and (min-width: 768px) {
    .location #map {
        height: 52%;
    }
}

@media only screen and (min-width: 1024px) {
    .location #map {
        height: 55%;
    }
}

@media only screen and (min-width: 1140px) {
    .location #map {
        height: 65%;
    }
}

@media only screen and (min-width: 2560px) {
    .location #map {
        height: 70%;
    }
}
