.location {
    position: relative;
}

.location .slidePage {
    height: 100%;
}

.location #map {
    height: 80%;
    width: 100%;
    margin: auto;
    z-index: 10;
    background-color: #f1fbfa;
}

.location a[title='Interactive JavaScript maps'] {
    display: none !important;
}

.location #cover {
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: 9999999;
}

@media only screen and (max-width: 1024px) {
    .location #map {
        height: 550px !important;
    }
}