.location {
    position: relative;
}

.location .slidePage {
    height: 100%;
}

.location #map {
    height: 80%;
    width: 100%;
    margin: auto;
    z-index: 10;

}

.location a[title='Interactive JavaScript maps'] {
    display: none !important;
}

.location .cover {
    position: absolute;
    width: 100%;
    z-index: 10000;
}

@media only screen and (max-width: 1024px) {
    .location #map {
        height: 550px !important;
    }
}