.homepage {
    background-image: url("/app/assets/img/header_bg.jpg");
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.homepage p {
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #000;
}

.homepage .absolute-center {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 5%;
    right: 0;
    text-align: center;
}

.homepage .absolute-center img {
    margin-bottom: 15px;
}

.homepage .network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.homepage .typer {
    width: 110px;
    color: #f9ed89;
}

.homepage .bounce {
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    bottom: 0;
    left: 0;
    top: 17%;
    right: 0;
    text-align: center;
    opacity: 0.5;
}

.bouncing-badge {
    position: absolute;
    bottom: 5%;
    right: 50px;
    opacity: 0.8;
    -webkit-animation: bounce 2s infinite ease-in-out;
    -moz-animation: bounce 2s infinite ease-in-out;
    width: 200px;
    text-align: right;
}

.speech-bubble {
    position: relative;
    background: #00aabb;
    margin: 2em 0;
    text-align: center;
    color: white;
    text-shadow: 0 -.05em .1em rgba(0, 0, 0, .3);
    height: 116px;
}

.speech-bubble h4 {
    text-align: center;
    top: 8%;
    position: absolute;
    margin: 0px 10px;
    font-weight: bold;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 47%;
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-right: 0;
    margin-bottom: -22px;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
}

.homepage .typer__cursor {
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 480px) {
    
    .bouncing-badge {
        display: none;
    }
}