.homepage {
    background-image: url("/app/assets/img/header_bg.jpg");
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
        margin-right: -15px;
    margin-left: -15px;
}

.homepage .homepage-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.homepage p {
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #000;
}

.homepage .btn {
    border-radius: 0;
}

.homepage .absolute-center {
    position: absolute;
    margin: auto;
    left: 0;
    top: 20%;
    right: 0;
    text-align: center;
}

.homepage .absolute-center img {
    margin-bottom: 15px;
}

.homepage .network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.homepage .typer {
    width: 110px;
    color: #fbc659;
}

.homepage .bounce {
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    margin: auto;
    left: 0;
    bottom: 5%;
    right: 0;
    text-align: center;
    opacity: 0.5;
}

.homepage .typer__cursor {
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
