<div class="absolute-center">
    <img src="app/assets/img/ninja.svg" />
    <p>Hi! I'm Richard</p>
    <p>Let's build
        <typer words="['great']" start-trigger="true" start-typing="true" repeat="false" start-delay='1000' class="typer" type-time="60"></typer> software</p>
    <br />
    <ul class="list-inline">
        <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
        </li>
    </ul>
</div>
<div id="downArrow" class="animated infinite bounce" ng-click="$ctrl.moveDown()"><i class="fa fa-arrow-circle-o-down fa-5x" aria-hidden="true"></i></div>
