.headerComponent .navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
    color: #ffffff;
}

.headerComponent .navbar-inverse .navbar-nav>.active>a,
.headerComponent .navbar-inverse .navbar-nav>.active>a:focus,
.headerComponent .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #00aabb;
}