.navHeader .navbar-right {
	margin-right: 15px;
} 

.navHeader .navbar .navbar-nav>.active>a,
.navHeader .navbar .navbar-nav>.active>a:focus,
.navHeader .navbar .navbar-nav>.active>a:hover {
    background-color: #00aabb;
    color: #fff;
    font-weight: bold;
}

.navHeader .navbar-default .navbar-nav>li>a {
    color: #00aabb;
}

.navHeader .navbar-default .navbar-nav>li>a:focus,
.navHeader .navbar-default .navbar-nav>li>a:hover {
    color: #fbc659;
}

.navHeader .navbar {
	border-bottom: 1px solid rgba(0,0,0,0.075);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: #fff;
}