.skills {
    width: 90%;
    margin: auto;
}

.skills .grid-item {
    display: inline-block;
    width: 10%;
    padding: 10px;
}

.skills .grid-item img {
    display: inline;
}

.skills .pageLabel {
    font-size: 43px;
    line-height: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #000000;
    top: 0;
    left: 0;
    padding-bottom: 20px;
    height: 60px;
    text-align: center;
}

@media only screen and (min-width: 320px) {
    .skills .grid-item {
        width: 18%;
    }
}

@media only screen and (min-width: 480px) {
    .skills .grid-item {
        width: 14%;
    }
}

@media only screen and (min-width: 768px) {
    .skills .grid-item {
        width: 10%;
    }
}
