<div class="skills">
    <h1 class="pageLabel"><span id="skillTag"></span></h1>
    <div class="grid">
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/languages/javascript.svg" alt="Javascript" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/languages/java.svg" alt="Java" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/framework/angular-icon.svg" alt="AngularJS" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/framework/bootstrap.svg" alt="Bootstrap" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/framework/nodejs.svg" alt="NodeJS" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/framework/spring.svg" alt="Spring" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/databases/postgresql.svg" alt="PostgreSQL" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/databases/mongodb.svg" alt="MongoDB" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/databases/mysql.svg" alt="MySQL" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/databases/redis.svg" alt="Redis" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/miscellaneous/aws.svg" alt="AWS" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/miscellaneous/eclipse.svg" alt="Eclipse" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/miscellaneous/git.svg" alt="Git" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/miscellaneous/github-icon.svg" alt="Github" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/miscellaneous/jenkins.svg" alt="Jenkins" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/miscellaneous/macosx.svg" alt="OSX" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/bower.svg" alt="Bower" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/css-3.svg" alt="CSS" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/express.svg" alt="Express" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/grunt.svg" alt="Grunt" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/html-5.svg" alt="HTML5" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/jquery.svg" alt="jQuery" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/npm.svg" alt="NPM"></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/pm2.svg" alt="PM2"></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/require.svg" alt="RequireJS" /></div>
        <div class="grid-item"><img class="img-responsive" src="app/assets/img/skills/web_tools/yeoman.svg" alt="Yeoman" /></div>
    </div>
</div>
