<header-component></header-component>
<div id="fullpage">
    <div class="section homepage row">
        <div class="slidePage homepage-wrapper hide">
            <homepage></homepage>
        </div>
    </div>
    <div class="section about fp-auto-height row">
        <div class="slidePage hide">
            <about></about>
        </div>
    </div>
    <div class="section skills fp-auto-height row">
        <div class="slidePage hide">
            <skills></skills>
        </div>
    </div>
    <div class="section experience fp-auto-height row">
        <div class="slidePage hide">
            <experience></experience>
        </div>
    </div>
    <div class="section location fp-auto-height row">
        <div class="slidePage hide">
            <location></location>
        </div>
    </div>
    <div class="section contact fp-auto-height row">
        <div class="slidePage hide">
            <contact></contact>
        </div>
    </div>
</div>
<!-- Badge component to interact with the parent scope using broadcast -->
<badge></badge>
