<div class="container-fluid">
    <div id="fullpage">
        <div class="section homepage row">
            <div id="headerwrap">
                <homepage></homepage>
            </div>
        </div>
        <div class="section">
            <skills></skills>
        </div>
        <div class="section">
             <experience></experience>
        </div>
        <div class="section">
             <location></location>
        </div>
        <div class="section">
            <contact></contact>
        </div>
    </div>
</div>
