<header-component></header-component>
<div id="fullpage">
    <div class="section homepage">
        <div class="slidePage homepage-wrapper hide">
            <homepage></homepage>
        </div>
    </div>
    <div class="section about">
        <div class="slidePage hide">
            <about></about>
        </div>
    </div>
    <div class="section skills">
        <div class="slidePage hide">
            <skills></skills>
        </div>
    </div>
    <div class="section experience">
        <div class="slidePage hide">
            <experience></experience>
        </div>
    </div>
    <div class="section location">
        <div class="slidePage hide">
            <location></location>
        </div>
    </div>
    <div class="section contact">
        <div class="slidePage hide">
            <contact></contact>
        </div>
    </div>
</div>

<!-- Badge component to interact with the parent scope using broadcast -->
<badge></badge>
