<footer class="footer navbar-fixed-bottom">
    <div class="note">
        <div>Handcrafted by <a href="http://chardmd.com">Richard Dimalanta</a></div>
        <div>Copyright © 2017</div>
        <div>
	         <span>
	         	<a href="https://github.com/chardmd" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
	         </span>
	         <span>
	         	<a href="#">|</a>
	         </span>
	         <span>
	         	<a href="https://sg.linkedin.com/in/chardmd" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
	         </span>
    	</div>
    </div>
</footer>