.footer {
 	bottom: 0;
    height: 100px;
    background-color: #252c2d;
    text-align: center;
    margin: 0 -15px;
}

.footer .note {
    color: #ffffff;
    margin-top: 30px;
    font-size: 16px;
}

.footer .note a {
    color: #fbc659;
}