.experience {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
}

.experience .commandContainer {
    position: absolute;
    height: 70%;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #ffffff;
    padding-left: 10px;
    cursor: pointer;
    background: #000;
    margin: auto;
    left: 5%;
}

.experience .commandContainer .fore {
    color: #f9ed89;
}

.experience .commandContainer .accent {
    color: #00b5c3;
}

.experience #upper {
    background: #e5e5e5;
    background: -webkit-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
    background: linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
    background-image: -moz-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    height: 29px;
    text-align: center;
    padding-top: 5px;
    border-bottom: 2px solid #333;
    width: 90%;
    margin: auto;
}

.experience .title {
    margin-left: -70px;
}

.experience .button {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 3px 3px 3px 3px;
    float: left;
}

.experience #buttons {
    margin-left: 5px;
}

.experience .red {
    background: red;
}

.experience .yellow {
    background: yellow;
}

.experience .green {
    background: green;
}

.experience .tortoise {
    color: #0ab;
}

.experience .commandContainer .type {
    color: #15f17b;
    margin-right: 30px;
}

.experience .command {
    display: none;
}

.experience .command .highlight {
    color: #00aabb;
}

.experience .select {
    color: #15f17b;
}

.experience .command > div span {
    width: 15px;
    display: inline-block;
    font-weight: bold;
}

.experience .loading {
    display: none;
}
